#preset-manager-list .preset .standard {
	border-bottom: 2px solid #cecece;
	padding: .625rem .25rem;
	display: flex;
}
#preset-manager-list .preset .compact {
	display: none;
	border: 2px solid #6c757d;
	border-radius: .5rem;
	padding: .5rem;
	cursor: pointer;
	background-color: #d5d5d5;
}
#preset-manager-list.compact {
	display: flex;
	flex-wrap: wrap;
}
#preset-manager-list.compact .preset .standard {
	display: none;
}
#preset-manager-list.compact .preset .compact {
	display: inline-block;
}
#preset-manager-list .equip, #preset-manager-list .equip .btn {
	width: 80px;
}
#preset-manager-list .standard img {
	width: 20px;
	height: 20px;
	margin: -4px 4px 0 0;
}
#preset-manager-container .progressbar-container {
	height: 10px;
	background: #595959;
	margin: 0 .75rem .25rem;
}
#preset-manager-container .progressbar-fill {
	background: #71df02;
	height: 10px;
	width: 0;
}
#preset-manager-container .progressbar-fill.danger {
	background: #ff0c00;
}
#preset-manager-container .flex {
	display: flex;
}
#preset-manager-container.reorder .tro {
	display: none;
}
#preset-manager-container.reorder .sro {
	display: block !important;
}
#preset-manager-container .dropdown-toggle::after {
	margin-right: .255em;
}
#preset-manager-modal {
	min-height: 585px;
	border-bottom: 3px solid #30c78d;
	padding-bottom: .5rem;
}
#preset-manager-modal .custom-switch .custom-control-label {
	padding-top: .1rem;
}
#preset-manager-modal .equip-presets-menu {
	display: grid;
	grid-auto-flow: column;
	border-bottom: 3px solid #30c78d;
	margin-bottom: .5rem;
}
#preset-manager-modal .equip-presets-menu img {
	width: 24px;
	height: 24px;
}
#preset-manager-modal .equip-presets-menu > div {
	cursor: pointer;
	text-align: center;
	background: #fff;
	border-style: none;
	padding: 4px 0;
}
#preset-manager-modal .equip-presets-menu > div:hover {
	background: #dbdbdb;
}
#preset-manager-modal .equip-presets-menu > div.active {
	background: #30c78d;
}
#preset-manager-modal .equip-presets-menu > div.active:hover {
	background: #30c78d;
}
#preset-manager-modal .equipment-box {
	width: 200px;
	margin: 0 auto;
	display: grid;
  	place-items: center;
}
#preset-manager-modal .spell-selection {
	display: grid;
	grid-template-columns: 52px 1fr;
}
#preset-manager-modal .magic-source {
	margin-bottom: .5rem;
	text-align: center;
	padding-top: 3px;
}
#preset-manager-modal .spell-button {
	border-radius: 8px;
	border: 1px solid #d2d2d2;
	margin-bottom: .5rem;
	margin-left: .5rem;
	font-size: .875rem;
	cursor: pointer;
	background: #ececec;
	line-height: 2.1rem;
	padding:.5rem
}
#preset-manager-modal .spell-button:hover {
	background: #cecece;
}
#preset-manager-modal .spell-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	-ms-flex-pack: left;
}
#preset-manager-modal .spell img {
	width: 24px;
	height: 24px;
	padding: 2px 8px 3px 4px;
}
#preset-manager-modal .spell {
	border-radius: 8px;
	border: 1px solid #d2d2d2;
	width: max(225px, calc(33% - .4rem));
	margin: .2rem;
	padding: .2rem;
	font-size: .675rem;
	cursor: pointer;
	background: #ececec;
}
@media (max-width: 770px) {
	#preset-manager-modal .spell {
		width: max(225px, calc(50% - .4rem));
	}
}
@media (max-width: 540px) {
	#preset-manager-modal .spell {
		width: max(225px, calc(100% - .4rem));
	}
}
#preset-manager-modal .spell.active {
	border-color: #29a877;
	background: #83e8c1;
}
#preset-manager-modal .spell:hover {
	background: #cecece;
}
#preset-manager-modal .spell.active:hover {
	background: #5ed7a8;
}
#preset-manager-modal .minibar-option {
	width: 225px;
}
@media (max-width: 555px) {
	.preset-search-bank {
		flex-wrap: wrap;
	}
}

.preset-manager-compact-menu {
	min-width: 11.25rem;
}
.preset-manager-compact-menu .menu-item {
	display: block;
	width: 100%;
	padding: .5rem .75rem;
	color: #fff;
	white-space: nowrap;
	border: 0;
	background: transparent;
}
.preset-manager-compact-menu .menu-item:hover {
	background: #3e3e3e;
}
.preset-manager-compact-menu .menu-item.s {
	margin: 0 0 .5rem;
}
.preset-manager-compact-menu .menu-divider {
	height: 0;
	margin: .5rem 0;
	overflow: hidden;
	border-top: 1px solid #7e8999;
  }
/****/
body.darkMode #preset-manager-list .preset .standard {
	border-color: #3e4856;
}
body.darkMode #preset-manager-list .preset .compact {
	border-color: #7e8999;
	background: #2d3542;
}
body.darkMode #preset-manager-modal {
	border-color: #017d55;
}
body.darkMode #preset-manager-modal .equip-presets-menu > div {
	background: #2c343f;
}
body.darkMode #preset-manager-modal .equip-presets-menu > div:hover {
	background: #3e4856;
}
body.darkMode #preset-manager-modal .equip-presets-menu > div.active {
	background: #017d55;
}
body.darkMode #preset-manager-modal .equip-presets-menu > div.active:hover {
	background: #017d55;
}
body.darkMode #preset-manager-modal .equip-presets-menu {
	border-color: #017d55;
}
body.darkMode #preset-manager-modal .preset-equipment-selected {
	background: #017d55 !important;
}
body.darkMode #preset-manager-modal .spell-button {
	border-color: #5b5b5b;
	background: #333c4d;
}
body.darkMode #preset-manager-modal .spell-button:hover {
	background: #3e4856;
}
body.darkMode #preset-manager-modal .spell {
	border-color: #5b5b5b;
	background: #333c4d;
}
body.darkMode #preset-manager-modal .spell:hover {
	background: #3e4856;
}
body.darkMode #preset-manager-modal .spell.active {
	border-color: #46c37b;
	background: #294e36;
}
body.darkMode #preset-manager-modal .spell.active:hover {
	background: #3a664a;
}
body.darkMode .preset-manager-compact-menu .item {
	color: #f5f5f5 !important;
}
body.darkMode .preset-manager-compact-menu .item {
	color: #f5f5f5 !important;
}
/****/
body.darkMode.superDark #preset-manager-list .preset .standard {
	border-color: #3e4856;
}
body.darkMode.superDark #preset-manager-list .preset .compact {
	border-color: #3e4856;
	background: #000;
}
body.darkMode.superDark #preset-manager-modal .equip-presets-menu > div {
	background: #000;
}
body.darkMode.superDark #preset-manager-modal .equip-presets-menu > div:hover {
	background: #1e1e1e;
}
body.darkMode.superDark #preset-manager-modal .equip-presets-menu > div.active {
	background: #017d55;
}
body.darkMode.superDark #preset-manager-modal .spell-button {
	background: #111213;
}
body.darkMode.superDark #preset-manager-modal .spell-button:hover {
	background: #222426;
}
body.darkMode.superDark #preset-manager-modal .spell {
	background: #111213;
}
body.darkMode.superDark #preset-manager-modal .spell:hover {
	background: #222426;
}
body.darkMode.superDark #preset-manager-modal .spell.active {
	border-color: #367551;
	background: #00260e;
}
body.darkMode.superDark #preset-manager-modal .spell.active:hover {
	background: #00260e;
}