<template id="preset-manager-template-modal">
	<div id="preset-manager-modal">
		<div class="input-group mb-3">
			<input type="text" placeholder="Name..." class="form-control" name="presetNameField" id="name-field">
			<div class="input-group-append">
				<button type="button" class="btn btn-danger" id="name-clear">X</button>
			</div>
		</div>

		<div class="w-100 equip-presets-menu">
			<div id="menu-tab-equipment"><img src="assets/media/bank/armour_helmet_steel.png"></div>
			<div id="menu-tab-style" class=""><img src="assets/media/skills/attack/attack.svg"></div>
			<div id="menu-tab-magic" class=""><img src="assets/media/skills/combat/spellbook.svg"></div>
			<div id="menu-tab-prayer" class=""><img src="assets/media/skills/prayer/prayer.svg"></div>
			<div id="menu-tab-potion" class=""><img src="assets/media/skills/herblore/potion_combat.svg"></div>
			<div id="menu-tab-icon" class=""><img src="assets/media/main/lore.svg"></div>
			<div id="menu-tab-settings" class=""><img src="assets/media/main/settings_header.svg"></div>
		</div>

		<div class="tab-content d-none" id="content-tab-equipment">
			<div class="" id="equipment-box">
				<div id="equipment-box-slots" class="equipment-box row no-gutters text-center">

				</div>
				<div class="mt-4 text-center">
					<small class="text-warning">Tap an equipment slot to edit.</small>
				</div>
				<div class="mt-2 text-center">
					<button type="button" class="btn btn-warning ml-2 mr-2 mt-2" id="import-current"><i class="fas fa-file-import"></i> Import Currently Equipped</button>
					<button type="button" class="btn btn-warning ml-2 mr-2 mt-2 d-none" id="import-micsr"><i class="fas fa-file-import"></i> Import From MICSR</button>
				</div>
			</div>
			<div class="d-none" id="slot-editor"></div>
		</div>

		<div class="tab-content d-none" id="content-tab-style">
			<div class="mb-1"><span class="text-warning">Melee:</span></div>
			<div class="spell-box" id="style-melee"></div>
			<div class="mb-1 mt-4"><span class="text-warning">Ranged:</span></div>
			<div class="spell-box" id="style-ranged"></div>
			<div class="mb-1 mt-4"><span class="text-warning">Magic:</span></div>
			<div class="spell-box" id="style-magic"></div>
			<div class="mt-4 text-center">
				<small class="text-warning">Current Style: <span id="style-current">Unknown</span></small>
			</div>
		</div>

		<div class="tab-content d-none" id="content-tab-magic">
			<div class="spell-selection" id="spell-selector">
				
			</div>
			<div class="spell-box d-none" id="spell-editor"></div>
		</div>

		<div class="tab-content d-none" id="content-tab-prayer">
			<div class="mb-1"><span class="text-warning">Standard:</span></div>
			<div class="spell-box" id="prayers-standard"></div>
			<div class="mb-1 mt-4"><span class="text-warning">Unholy:</span></div>
			<div class="spell-box" id="prayers-unholy"></div>
			<div class="mb-1 mt-4"><span class="text-warning">Abyssal:</span></div>
			<div class="spell-box" id="prayers-abyssal"></div>
		</div>

		<div class="tab-content d-none" id="content-tab-potion">
			<div class="w-100 text-center"><span class="text-warning font-size-sm">Potion Selection only affects Combat</span></div>
			<div class="spell-box justify-content-center" id="potion-options"></div>
			<div class="spell-box" id="potions"></div>
		</div>

		<div class="tab-content d-none" id="content-tab-icon">
			<div class="d-flex">
				<div class="flex-grow-1">
					<div class="font-w700 font-size-md mb-2">Display Icon</div>
					<div class="font-w400 font-size-xs text-warning mb-4">Icon displayed in the combat screen or on the minibar.</div>
				</div>
				<div class="flex-grow-0" id="">
					<div class="m-1 p-1 rounded bg-combat-inner-dark">
					<img class="resize-32" src="" alt="" id="icon-selected-header">
					</div>
				</div>
			</div>
			<div class="spell-box justify-content-center" id="icon-types"></div>
			<div id="icon-editor"></div>
		</div>

		<div class="tab-content d-none" id="content-tab-settings">
			<div class="font-w700 font-size-md mb-2">Preset Type</div>
			<div class="font-w400 font-size-xs text-warning mb-3">Used when filtering on the equipment screen.</div>
			<div id="type-radios"></div>
			<div class="font-w700 font-size-md mb-2 mt-4">Minibar Settings</div>
			<div class="font-w400 font-size-xs text-warning mb-3">Toggle visibility on the Minibar for Non-Combat Skills.</div>
			<div class="spell-box" id="minibar-toggles"></div>
		</div>
	</div>
</template>

<template id="preset-manager-template-combat-block">
	<div class="col-12" id="preset-manager-container">
		<div class="block-content">
			<div class="block block-rounded-double bg-combat-inner-dark text-center p-3">
				<div class="flex p-1 tro">
					<div class="flex-grow-1 pr-3">
						<button type="button" id="create" class="btn btn-primary w-100"><span>Create Preset</span></button>
					</div>
					<div class="flex-grow-0 pr-3">
						<div class="dropdown d-inline">
							<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
								<i class="fas fa-filter"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-right font-size-sm">
								<button class="dropdown-item" id="filter-all" type="button">Show All</button>
								<button class="dropdown-item" id="filter-combat" type="button">Show Combat</button>
								<button class="dropdown-item" id="filter-skill" type="button">Show Skilling</button>
								<button class="dropdown-item" id="filter-none" type="button">Show None</button>
							</div>
						</div>
					</div>
					<div class="flex-grow-0">
						<div class="dropdown d-inline">
							<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
								<i class="fas fa-cog"></i>
							</button>
							<div class="dropdown-menu dropdown-menu-right font-size-sm">
								<button class="dropdown-item" id="import" type="button">Import Presets</button>
								<button class="dropdown-item" id="export" type="button">Export Presets</button>
								<button class="dropdown-item" id="reorder" type="button">Reorder Presets</button>
								<button class="dropdown-item" id="compact" type="button">Toggle Compact</button>
								<div class="dropdown-divider"></div>
								<button class="dropdown-item text-danger" id="reset" type="button">Reset Equipment</button>
								<div class="dropdown-divider"></div>
								<div class="dropdown-header text-combat-smoke pb-1">Storage:</div>
								<div class="dropdown-header text-combat-smoke pt-0"><small id="storage-text">---</small></div>
								<div class="progressbar-container">
									<div class="progressbar-fill" id="storage-bar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p-1 d-none sro">
					<button type="button" id="reorder-save" class="btn btn-success w-100"><span>Save</span></button>
				</div>
				<div id="preset-manager-list"></div>
			</div>
		</div>
	</div>
</template>

<template id="preset-manager-template-combat-list">
	<div class="preset" id="main">
		<div class="standard">
			<div class="flex-grow-0 mr-2 equip tro">
				<button class="btn btn-sm btn-success" id="equip">EQUIP</button>
			</div>
			<div class="flex-grow-1 mr-2 pt-1 sro text-left overflow-hidden text-nowrap">
				<img src="" class="skill-icon-xxs" id="type-image"> <span id="name"></span>
			</div>
			<div class="flex-grow-0 mr-2 d-none sro">
				<button type="button" class="btn btn-sm btn-primary" id="up">
					<i class="fas fa-chevron-up"></i>
				</button>
			</div>
			<div class="flex-grow-0 d-none sro">
				<button type="button" class="btn btn-sm btn-primary" id="down">
					<i class="fas fa-chevron-down"></i>
				</button>
			</div>
			<div class="flex-grow-0 mr-2 tro">
				<button type="button" class="btn btn-sm btn-primary" id="view">
					<i class="fas fa-eye"></i>
				</button>
			</div>
			<div class="flex-grow-0 tro">
				<div class="dropdown d-inline">
					<button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-sm btn-info dropdown-toggle">
						<i class="fas fa-cog d-none"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right font-size-sm">
						<button class="dropdown-item d-none" id="micsr" type="button">Copy to MICSR</button>
						<button class="dropdown-item" id="copy" type="button">Copy to Clipboard</button>
						<button class="dropdown-item" id="edit" type="button">Edit</button>
						<div class="dropdown-divider"></div>
						<button class="dropdown-item" id="copy-gid" type="button">Copy GID: </button>
						<div class="dropdown-divider"></div>
						<button class="dropdown-item text-danger" id="delete">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="compact m-1" id="compact-button">
			<img src="" class="resize-32" id="type-image-compact">
		</div>
	</div>
</template>

<template id="preset-manager-template-compact-menu">
	<div id="main" class="preset-manager-compact-menu">
		<button class="menu-item" id="equip" type="button">Equip</button>
		<div class="menu-divider"></div>
		<button class="menu-item s d-none" id="micsr" type="button">Copy to MICSR</button>
		<button class="menu-item s" id="copy" type="button">Copy to Clipboard</button>
		<button class="menu-item" id="edit" type="button">Edit</button>
		<div class="menu-divider"></div>
		<button class="menu-item" id="copy-gid" type="button">Copy GID</button>
		<div class="menu-divider"></div>
		<button class="menu-item text-danger" id="delete">Delete</button>
	</div>
</template>

<template id="preset-manager-template-import-list">
	<div class="mb-2">
		<div class="custom-control custom-switch mb-2">
			<input class="custom-control-input pointer-enabled" type="checkbox" id="input">
			<label class="custom-control-label pointer-enabled" for="" id="label">
				<img class="skill-icon-xxs mr-1" src="" id="icon"><span id="name"></span>
			</label>
		</div>
	</div>
</template>